.side_bar
  .side_bar__top
    .side_bar__top__sidebox
      .side_bar__top__sidebox__username
        %p.name name
      .side_bar__top__sidebox__icons
        = link_to "#", class:"fas" do
          %i.fas.fa-edit
        = link_to "#", class:"fas" do
          %i.fas.fa-cog        
  .side_bar__bottom
    .side_bar__bottom__groups
      %p.name_top techcamp
      %p.name_bottom まだメッセージがありません