.side_bar {
  height: 100vh;
  width: 300px;
  &__top{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__sidebox{
      height: 20px;
      width: 260px;
      background-color: #333333;
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      &__username{
        height: 20px;
        width: 60px;
        color: $side_color;
        font-size: 16px;
        .name{
          line-height: 20px;
        }
      }
      &__icons{
        height: 20px;
        width: 60px;
        text-align: right;
        display: flex;
        align-items: center;
        .fas {
          text-decoration: none;
          color: $side_color;
          padding-left: 5px;
        }
      }
    }
  }
  &__bottom{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: scroll;
    &__groups{
      padding: 20px 20px 40px 20px;
      font-weight: bold;
      color: $side_color;
      &__name_top{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__name_bottom{
        font-size: 11px;
      }
    }
  }
}